html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.dg.ac {
  z-index: 100 !important;
}

[data-bs-theme=dark] {
  --background-color: hsl(0, 0%, 9%);
  --layer-1: rgba(255, 255, 255, 0.1);
  --layer-2: rgba(255, 255, 255, 0.2);
  --primary-color: #ffffff;
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsla(0, 0%, 100%, 0.8);
  --text-tertiary: hsla(0, 0%, 100%, 0.6);
  --text-caption: hsla(0, 0%, 100%, 0.5);
  --shadow-init: hsla(0, 0%, 0%, 0.9);
  --shadow-float: hsla(0, 0%, 0%, 0.6);
  --theme-color: hsl(30, 100%, 60%);
}

[data-bs-theme=light] {
  --background-color: #ffffff;
  --layer-1: rgba(0, 0, 0, 0.06);
  --layer-2: rgba(0, 0, 0, 0.12);
  --primary-color: #181818;
  --text-primary: hsla(0, 0%, 0%, 0.8);
  --text-secondary: hsla(0, 0%, 0%, 0.7);
  --text-tertiary: hsla(0, 0%, 0%, 0.5);
  --text-caption: hsla(0, 0%, 0%, 0.4);
  --shadow-init: hsla(0, 0%, 0%, 0.6);
  --shadow-float: hsla(0, 0%, 0%, 0.3);
  --theme-color: hsl(22, 100%, 50%);
}

html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

.full-size {
  width: 100%;
  height: 100%;
}

@keyframes fadeBg {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--background-color);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

ul, ol {
  list-style: none;
}

.link-secondary {
  color: var(--text-caption);
}

p, li {
  color: var(--text-secondary);
}

p {
  font-size: clamp(0.875rem, 0.675rem + 0.8vw, 1.125rem);
}

img {
  width: 100%;
  height: auto;
}

.pixelated {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */ /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */ /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

a.link {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.text-nowrap {
  text-wrap: nowrap;
}

.mx-article {
  width: calc(520px + 50%);
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  justify-content: space-between;
}
.mx-article-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mx-article main {
  width: 78%;
}
.mx-article main > .block:first-child p {
  margin-top: 0;
  padding-top: 1em;
}

.mx-section {
  position: relative;
}

.advance {
  display: grid;
  margin-top: 0 !important;
  grid-template-rows: 0fr;
  transition: grid-template-rows 1s ease, margin-top 1s ease;
}
.advance-container {
  overflow: hidden;
}
.advance.expand {
  transition: all 1s cubic-bezier(0.3, 0, 0, 1) !important;
  grid-template-rows: 1fr;
  margin-top: 0 !important;
}

.toggle_advance {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--layer-1);
  margin: 4rem -2.4rem 0 -2.4rem;
  padding: 2rem 2.4rem;
  border-radius: 24px;
  z-index: 2;
  box-shadow: 0 0 30px var(--background-color);
}
.toggle_advance button {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 100%;
}
.toggle_advance button img.rotate {
  transform: rotate(180deg);
}/*# sourceMappingURL=article.css.map */