.mx-aside {
    padding-right: 0;
    width: 200px;
    padding-top: 0.5rem;

    &>div {
        top: 2rem;
    }

    .nav {

        &:hover > :not(:hover){
            color: var(--text-tertiary);
        }

        a {
            white-space: nowrap;
            padding-right: 0;
            color: var(--text-secondary);

            &:hover {
                color: var(--text-primary);
            }
        }
    }

}

.nav-link:focus {
    color: var(--theme-color) !important;
}