html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.dg.ac {
  z-index: 100 !important;
}

[data-bs-theme=dark] {
  --background-color: hsl(0, 0%, 9%);
  --layer-1: rgba(255, 255, 255, 0.1);
  --layer-2: rgba(255, 255, 255, 0.2);
  --primary-color: #ffffff;
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsla(0, 0%, 100%, 0.8);
  --text-tertiary: hsla(0, 0%, 100%, 0.6);
  --text-caption: hsla(0, 0%, 100%, 0.5);
  --shadow-init: hsla(0, 0%, 0%, 0.9);
  --shadow-float: hsla(0, 0%, 0%, 0.6);
  --theme-color: hsl(30, 100%, 60%);
}

[data-bs-theme=light] {
  --background-color: #ffffff;
  --layer-1: rgba(0, 0, 0, 0.06);
  --layer-2: rgba(0, 0, 0, 0.12);
  --primary-color: #181818;
  --text-primary: hsla(0, 0%, 0%, 0.8);
  --text-secondary: hsla(0, 0%, 0%, 0.7);
  --text-tertiary: hsla(0, 0%, 0%, 0.5);
  --text-caption: hsla(0, 0%, 0%, 0.4);
  --shadow-init: hsla(0, 0%, 0%, 0.6);
  --shadow-float: hsla(0, 0%, 0%, 0.3);
  --theme-color: hsl(22, 100%, 50%);
}

html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

.full-size {
  width: 100%;
  height: 100%;
}

@keyframes fadeBg {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--background-color);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

ul, ol {
  list-style: none;
}

.link-secondary {
  color: var(--text-caption);
}

p, li {
  color: var(--text-secondary);
}

p {
  font-size: clamp(0.875rem, 0.675rem + 0.8vw, 1.125rem);
}

img {
  width: 100%;
  height: auto;
}

.pixelated {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */ /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */ /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

a.link {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.text-nowrap {
  text-wrap: nowrap;
}

.window {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: gap 0.5s ease;
}
.window:has(.active) {
  gap: 1.5rem;
}
.window-frame {
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  opacity: 0;
  width: 44vh;
  min-width: 44vh;
  border-radius: 100%;
  overflow: hidden;
  border: rgba(255, 255, 255, 0.8) solid 1px;
  transition: all 0.6s ease, opacity 0.01s;
}
.window-frame .player {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
}
.window-frame .player:first-child {
  position: relative;
}
.window-frame .player #icon-player {
  height: 100%;
  width: 100%;
}
.window-frame .player video {
  -o-object-fit: cover;
     object-fit: cover;
}
.window-frame .player #view-player {
  width: 500%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.window-frame.ready {
  opacity: 1;
  border-radius: 100%;
  aspect-ratio: 1/1;
  transition: all 0.5s ease-in-out, opacity 0.2s;
}
.window-frame.active {
  opacity: 1;
  width: 100%;
  min-width: initial;
  transform: translateY(-0.5rem);
  aspect-ratio: 3/2;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.2, 0, 0, 1), opacity 0.02s;
}
@media all and (max-width: 785.9px) {
  .window-frame.active {
    max-height: 100%;
  }
}
.window-frame.active .player {
  aspect-ratio: 3/2;
}
.window-frame.active .player video {
  width: 100%;
}
.window-frame.active .player #view-player {
  width: 500%;
  height: 100%;
}
.window-frame.active.uninteractive {
  opacity: 1;
  width: 80%;
  aspect-ratio: 1;
  border-radius: 100%;
  min-width: initial;
  transition: all 0.5s cubic-bezier(0.2, 0, 0, 1), opacity 0.02s;
}

.view_data {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0.5vw 1vw;
  z-index: 1;
}
.view_data > div {
  display: flex;
  gap: 8px;
}
.view_data > div div {
  width: 75px;
}
.view_data * {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  color: white;
}
.view_data p {
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.view_data p ~ * {
  font-size: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.view_data-right {
  width: 100px !important;
}
.view_data-right * {
  text-align: right;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.info {
  max-width: max(680px, 30vw);
}
.info-content * {
  color: white;
}
.info-content-title .en {
  font-weight: 300;
  font-size: 1.8rem;
  text-wrap: nowrap;
}
.info p:not(.second) {
  font-size: 1.4rem;
  color: white;
  mix-blend-mode: overlay;
}
.info .second {
  position: absolute;
  top: 0;
  font-size: 1.4rem;
  color: white;
  opacity: 0.6;
}/*# sourceMappingURL=window.css.map */