$phone-only: 'max-width: 785.9px' !default;
$phone-up: 'min-width: 786px' !default;

#visual {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: height 0.5s ease;

    .scene {
        position: absolute;
        height: 100%;
        width: 100%;
        mix-blend-mode: screen;
    }

    &.shrink {
        height: 85vh;
    }
}

@mixin full-size {
    height: 100%;
    width: 100%;
    display: flex;
}

// 主容器
.mx-container {
    position: absolute;
    @include full-size;
    align-items: center;

    .mx-first {
        position: relative;
        z-index: 1;
        @include full-size;

        @media all and ($phone-up) {
            &:has(.arrows) {
                transform: translateX(10%);
            }
        }
    }

    .mx-last {
        position: relative;
        @include full-size;
    }

    @media all and ($phone-only) {
        flex-direction: column;

        .mx-first,
        .mx-last {
            max-height: 50%;
            align-items: start;
            justify-content: center;
        }
    }
}

// 箭頭導航
.arrows-container {
    position: relative;
    width: min(100%, 100vh);
    max-width: 760px;
    aspect-ratio: 1/1;
    margin: auto;

    @media all and ($phone-only) {
        width: calc(max(50vh, 100%) - 36px);
        max-width: 70vh;
        height: calc(100% - 24px);
        max-height: 140vw;
    }

    .arrows {
        position: relative;
        height: 100%;

        .mx-button {
            width: 50px;
            height: 50px;
            position: absolute;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                mask: url("/navigate.svg") center/contain no-repeat;
                backdrop-filter: blur(15px) saturate(0) invert(1) contrast(2) blur(15px);
                background-color: transparent;
                opacity: 1;
                transition: background-color 0.3s ease;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background: url("/navigate.svg") center/contain no-repeat;
                cursor: pointer;
                opacity: 0;
                transition: opacity 0.3s ease, transform 0.3s ease;
                pointer-events: auto;
            }

            &:hover {
                filter: drop-shadow(0 0 5px rgba(var(--theme-color), 1));

                &::before {
                    background-color: var(--theme-color);
                }

                &::after {
                    transform: translateX(3px) scale(0.6);
                    opacity: 1;
                }
            }

            &.fade-in {
                &::after {
                    opacity: 1;
                }
            }

            &:nth-child(1),
            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(3),
            &:nth-child(4) {
                left: 50%;
            }

            &:nth-child(1) {
                left: 0;
                transform: translateY(-50%);
            }

            &:nth-child(2) {
                right: 0;
                transform: translateY(-50%) rotate(180deg);
            }

            &:nth-child(3) {
                top: 0;
                transform: translateX(-50%) rotate(90deg);
            }

            &:nth-child(4) {
                bottom: 0;
                transform: translateX(-50%) rotate(-90deg);
            }
        }
    }
}

// 內容區域
#visual {
    .mx-list {
        max-width: 680px;
        padding: 0 48px 0 8vw;
        scroll-padding-top: 6px;

        @media all and ($phone-only) {
            padding: 12px 20px 0 20px;
            height: 100%;
        }

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        position: relative;

        &>*:not(hr) {
            scroll-snap-align: start;
        }

        h2 {
            margin: 0.6rem 0;
        }

        &>*:first-child {
            padding-top: 20vh;
        }

        &>*:last-child {
            margin-bottom: 20vh;
        }

        @media all and ($phone-only) {
            &>*:first-child {
                padding-top: 20px;
            }

            &>*:last-child {
                margin-bottom: 10vh;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: 0;
            background-color: rgba(#000, 0.2);
            border-radius: 8px;
            padding: 1rem;
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            box-shadow: inset 2px -1px 4px white;
            z-index: 1;
            cursor: pointer;
            outline: 0 solid transparent;
            transition: all 0.3s;

            h3>span {
                color: var(--text-secondary);
            }

            p {
                margin: 0;
                max-height: 0;
                transition: all 0.3s;
                overflow: hidden;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 24px;
                width: 100px;
                height: 100%;
                z-index: 1;
                background: url("/arrow.svg") center/16px no-repeat;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:hover,
            &.hover {
                outline: 6px solid white;
                gap: 4px;
                margin-bottom: -24px;
                background-color: white;
                box-shadow: 0 0 15px black;
                z-index: 3;

                &::before {
                    background-position: right center;
                    opacity: 1;
                }

                h3 {
                    color: var(--theme-color);

                    span {
                        filter: invert(1);
                    }
                }

                p {
                    max-height: 20px;
                    color: var(--text-primary);
                    filter: invert(1);
                }
            }
        }
    }
}

// 副標題
.subTitle {
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}