.window {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    &-view {
        min-width: 415px;
        aspect-ratio: 1/1;
        background-color: rgba(255, 0, 0, 0.485);
        border-radius: 100%;
        opacity: 0;
        transition: all 1s cubic-bezier(.2, 0, 0, 1), opacity 0.05s;
        background-image: url("../img/sensor.png");
        background-position: center;
        background-size: contain;

        &.ready {
            opacity: 1;
            transition: all 1s cubic-bezier(.2, 0, 0, 1), opacity 0.5s ease-out;
        }

        &.active {
            width: calc(80%);
            opacity: 1;
            aspect-ratio: 4/3;
            border-radius: 8px;
            transition: all 1s cubic-bezier(.2, 0, 0, 1), border-radius 0.5s ease-out;
        }
    }
}